* {
  border-radius: 10px;
}

.Board {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.Row {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 1 1;
}

.Tile {
  background-color: white;
  flex-grow: 1;
  margin: 2px;
  border: 2px solid lightgreen;
}

.Alive {
  background-color: lightgreen !important;
}
