* {
  border-radius: 10px;
}

.Board {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  border: 2px solid lightgreen;
}

.Row {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
}

.Tile {
  height: 100px;
  width: 100px;
  background-color: white;
  flex: 1 1;
  margin: 2px;
  border: 2px solid lightgreen;
}

.Alive {
  background-color: lightgreen !important;
}
