* {
  border-radius: 10px;
}

.Board {
  position: relative;
  width: 98%;
  height: 100px;
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  background-color: white;
}

.BoardRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 1 1;
}

.Tile {
  background-color: white;
  flex-grow: 1;
  margin: 2px;
}

.Alive {
}

.Alive[neighbors="0"] {
  background-color: hsl(var(--board-color), 20%, 90%) !important;
}
.Alive[neighbors="1"] {
  background-color: hsl(var(--board-color), 30%, 87.5%) !important;
}
.Alive[neighbors="2"] {
  background-color: hsl(var(--board-color), 40%, 85%) !important;
}
.Alive[neighbors="3"] {
  background-color: hsl(var(--board-color), 50%, 82.5%) !important;
}
.Alive[neighbors="4"] {
  background-color: hsl(var(--board-color), 60%, 80%) !important;
}
.Alive[neighbors="5"] {
  background-color: hsl(var(--board-color), 70%, 77.5%) !important;
}
.Alive[neighbors="6"] {
  background-color: hsl(var(--board-color), 80%, 75%) !important;
}
.Alive[neighbors="7"] {
  background-color: hsl(var(--board-color), 90%, 72.5%) !important;
}
.Alive[neighbors="8"] {
  background-color: hsl(var(--board-color), 100%, 70%) !important;
}
