.ColorPicker {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
.Swatch {
  height: 30px;
  min-width: 20px;
  margin: 2px;
  flex-grow: 1;
  border: none;
}

.Swatch:hover {
  border: none;
}
