.Controls {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border-radius: inherit;
  background-color: white;
}

.Controls > :focus {
  outline: none;
  box-shadow: 4px 4px 4px darkgray;
}

.ControlRow {
  width: 95%;
  margin: 0px;
  align-items: center;
}

.Controls > * {
  flex-grow: 1;
}

.slider {
  display: flex;
  flex-flow: column nowrap;
  width: fit-content;
  flex-grow: 1;
  z-index: 1;
}

.ControlRow > h1 {
  color: darkgreen;
  margin-left: 5px;
  align-items: center;
}

.DisplayNumber {
  font-size: 3vw;
}
