input[type="range"] {
  -webkit-appearance: none;
  width: 80%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.78);
  border-radius: 25px;
  border: 2px solid #55917f;
}

input[type="range"]::-webkit-slider-runnable-track:hover {
  border-color: #212922;
}

input[type="range"]::-webkit-slider-thumb {
  border: 2px solid #6bab90;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}

input[type="range"]::-webkit-slider-thumb:hover {
  border-color: darkgreen;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.78);
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.78);
  border-radius: 25px;
  border: 2px solid #55917f;
}

input[type="range"]::-moz-range-track:hover {
  border-color: #212922;
}

input[type="range"]::-moz-range-thumb {
  border: 2px solid #6bab90;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb:hover {
  border-color: darkgreen;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-track:hover {
  border-color: #212922;
}

input[type="range"]::-ms-fill-lower {
  background: rgba(240, 240, 240, 0.78);
  border: 2px solid #55917f;
  border-radius: 50px;
}
input[type="range"]::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.78);
  border: 2px solid #55917f;
  border-radius: 50px;
}
input[type="range"]::-ms-thumb {
  border: 2px solid #6bab90;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
  height: 6px;
}

input[type="range"]::-ms-thumb:hover {
  border-color: darkgreen;
}

input[type="range"]:focus::-ms-fill-lower {
  background: rgba(255, 255, 255, 0.78);
}
input[type="range"]:focus::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.78);
}
