input[type="range"] {
  -webkit-appearance: none;
  width: 90%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(255, 255, 255, 0.78);
  border-radius: 25px;
  border: 2px solid #90ee90;
}

input[type="range"]::-webkit-slider-runnable-track:hover {
  border-color: darkgreen;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000031, 0px 0px 0px #00004b;
  border: 2px solid #90ee90;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}

input[type="range"]::-webkit-slider-thumb:hover {
  border-color: darkgreen;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.78);
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(255, 255, 255, 0.78);
  border-radius: 25px;
  border: 2px solid #90ee90;
}

input[type="range"]::-moz-range-track:hover {
  border-color: darkgreen;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000031, 0px 0px 0px #00004b;
  border: 2px solid #90ee90;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb:hover {
  border-color: darkgreen;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-track:hover {
  border-color: darkgreen;
}

input[type="range"]::-ms-fill-lower {
  background: rgba(240, 240, 240, 0.78);
  border: 2px solid #90ee90;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type="range"]::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.78);
  border: 2px solid #90ee90;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type="range"]::-ms-thumb {
  box-shadow: 0px 0px 1px #000031, 0px 0px 0px #00004b;
  border: 2px solid #90ee90;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
  height: 6px;
}

input[type="range"]::-ms-thumb:hover {
  border-color: darkgreen;
}

input[type="range"]:focus::-ms-fill-lower {
  background: rgba(255, 255, 255, 0.78);
}
input[type="range"]:focus::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.78);
}
