:root {
  --board-color: 120;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

p {
  color: darkgreen;
  font-size: 1em;
  margin: 10px 0px 0px 10px;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: White;
  font-family: "Merriweather", serif;
  font-size: 3vw;
  margin: 10px;
}
